<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Xonix</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.2/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
<div class="row">
    <div class="col-3">
        <form id="match-form" method="post">
            <div class="md-form form-group">
                <i class="fa fa-percent prefix grey-text" aria-hidden="true"></i>
                <input type="number" placeholder="Percent" id="percent" name="percent" class="form-control grey-text text-center"
                       required="required"/>
            </div>
            <div class="md-form">
                <i class="fa fa-clock-o prefix grey-text" aria-hidden="true"></i>
                <input type="number" placeholder="Duration" id="duration" name="duration" class="form-control grey-text text-center"
                       required="required"/>
            </div>
            <div class="text-center">
                <button id="create-match" class="btn btn-unique">Create <i
                        class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#match-form").submit(function (event) {
            event.preventDefault();
            create_match();
        });
    });

    function create_match() {
        $.ajax({
            url: '/match/create/',
            type: 'POST',
            data: JSON.stringify({
                id: '',
                percent: $('#percent').val(),
                duration: $('#duration').val()
            }),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function (data, textStatus, jQxhr) {
                setTimeout(function () {
                    window.location.replace("/ui/match/" + data.id);
                }, 1000)
            }
        });
    }

</script>

</body>
</html>